h1 {
    text-align: center;
}

.game_div {
    width: 80vw;
    margin: 20px auto;
}

.option_btns {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.option_btn {
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}

.final_score {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 0, 30);
}

.score_div {
    border: 1px solid aqua;
    margin-top: 30px;
    padding: 10px;
    width: 50%;
}